@using Console.ViewModels
@using Console.neo4jProxy
@model NodeRelatedDetailViewModel

<div id="detaillist_@Model.Node.DbId">
    <div class="detaillist">
		<div class="grid-x align-middle">
			<div class="cell small-3"><u><b>Details</b></u></div>
			<div class="cell small-1" title="Show/hide node">
				<a href="javascript:vis.onEyeNodeDetailClicked(@Model.Node.DbId);"><div id="eyeIcon_@Model.Node.DbId" class="cell far fa-eye small-2"></div></a>
			</div>
			<div class="cell small-1" title="Add @Model.RelatedNodes.Count related nodes">
				<a href="javascript:vis.getRelated(@Model.Node.DbId);"><div id="expandIcon_@Model.Node.DbId" class="cell fas fa-expand-arrows-alt small-2"></div></a>
			</div>
			<div class="cell small-1" title="Remove from view">
				<a href="javascript:vis.removeNode(@Model.Node.DbId);"><div id="removeIcon_@Model.Node.DbId" class="cell fas fa-trash-alt small-2"></div></a>
			</div>
		</div>
        <b>Name:</b> @Model.Node.Name<br />
        <b>db_id:</b> @Model.Node.DbId<br />
        <b>Types:</b> @string.Join(", ", Model.Node.Labels)<br />
        <b>Scope:</b> @Model.Node.Scope<br />
    </div>

    @if (@Model.Node.Properties.Count > 0)
    {
        <div>
            <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Properties (@Model.Node.Properties.Count):</a>
                    <div class="accordion-content detaillist" data-tab-content>
                        @foreach (var key in Model.Node.Properties.Keys)
                        {<b>@key:</b> @Model.Node.Properties[key]<br />}
                    </div>
                </li>
            </ul>
        </div>
    }
    <div>
        <ol class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Related (@Model.RelatedNodes.Count):</a>
                <div class="accordion-content" data-tab-content>
                    <ol class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
                        @foreach (string key in Model.LabeledNodeLists.Keys)
                        {
                            <li class="accordion-item" data-accordion-item>
                                <a href="#" class="accordion-title">@key (@Model.LabeledNodeLists[key].Count)</a>
                                <div class="accordion-content detaillist" data-tab-content>
                                    @foreach (BirdsNestNode node in Model.LabeledNodeLists[key])
                                    {@node.Name <a href="javascript:vis.getNode(@node.DbId);">(+)</a><br />}
                                </div>
                            </li>
                        }
                        @foreach (string key in Model.LabelledEdgeNodes.Keys)
                        {
                            <li class="accordion-item" data-accordion-item>
                                <a href="#" class="accordion-title">@key (@Model.LabelledEdgeNodes[key].Count)</a>
                                <div class="accordion-content detaillist" data-tab-content>
                                    @foreach (BirdsNestNode node in Model.LabelledEdgeNodes[key])
                                    {@node.Name <a href="javascript:vis.getNode(@node.DbId);">(+)</a><br />}
                                </div>
                            </li>
                        }
                    </ol>
                </div>
            </li>
        </ol>
    </div>
</div>