@using Newtonsoft.Json
@using Console.neo4jProxy

@model ResultSet
@Html.Hidden("searchResultData", JsonConvert.SerializeObject(Model))

@if (Model.Nodes.Count > 0)
{
	<div>Found <a data-toggle="searchresultsdetails">@Model.Nodes.Count</a> results. <a href="javascript:vis.onAddToView()">Add to view</a></div>

    <div id="searchresultsdetails" class="detaillist scrollable dropdown-pane" data-dropdown data-auto-focus="true" data-close-on-click="true">
        <div style="height:100%">
            @foreach (BirdsNestNode node in Model.Nodes)
            {
                string labels = string.Join(", ", node.Labels);
                <span title="@labels">@node.Name </span><a href="javascript:vis.getNode(@node.DbId);">(+)</a><br />
            }
        </div>
    </div>
}
else
{ <div>Found no results.</div> }