@{
    ViewData["Title"] = "Login";
}
@using Console.ViewModels
@using Console.Auth
@model LoginViewModel
@inject AuthConfigurations configs

<div class="grid-x align-center-middle">
    <div class="cell"></div>
    <div class="cell loginform" style="max-width: 350px; min-width: 280px;">
        <fieldset class="fieldset">
            <legend>Login</legend>
            <form id="loginForm" class="cell" type="POST" asp-action="Login" asp-controller="Account"
                  asp-route-returnurl="@ViewData["ReturnUrl"]" asp-route-redirect="@ViewData["Redirect"]">

                <div class="input-group">
                    <input id="username" tabindex=1 type="text" asp-for="UserName" placeholder="Username" autofocus class="small-8 input-group-field" />
                </div>

                <div class="input-group">
                    <input id="pw" tabindex=2 type="password" asp-for="Password" placeholder="Password" class="small-8 input-group-field" />
                </div>

                <div class="input-group">
                    <select id="provider" tabindex=3 asp-for="Provider" class="small-8 input-group-field">
                        @foreach (string name in configs.ConfigurationNames) { <option value="@name">@name</option>}
                    </select>
                </div>

                <div class="grid-x">
                    <div class="cell small-3 medium-3">
                        <input id="loginbtn" tabindex=3 type="submit" class="button" value="Login">
                    </div>
                </div>
                @Html.AntiForgeryToken()
            </form>
            <div class="cell small-9 medium-9">
                <div asp-validation-summary="All"></div>
                @ViewBag.Message@ViewBag.Errors
            </div>


        </fieldset>
    </div>
    <div class="cell"></div>
</div>
